In [1]:
# This is a subset of the code from the unfunctionalized version of add_position_data(...) from to_nwb/neuroscope.py

import os
from glob import glob

import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from pynwb.behavior import SpatialSeries
from pynwb.ecephys import ElectricalSeries, LFP, SpikeEventSeries, EventWaveform#, UnitSeries
from hdmf.backends.hdf5.h5_utils import H5DataIO
from hdmf.data_utils import DataChunkIterator
from pynwb.misc import AnnotationSeries
from tqdm import tqdm

session_path = 'D:/BuzsakiData/SenzaiY/YutaMouse41/YutaMouse41-150903';
fs = 1250./32.;
names=('x0', 'y0', 'x1', 'y1');

session_name = os.path.split(session_path)[1]
whl_path = os.path.join(session_path, session_name + '.whl')
if not os.path.isfile(whl_path):
    print(whl_path + ' file not found!')
print('warning: time may not be aligned')

warning: time may not be aligned

In [2]:
print(session_name)
print(whl_path)

YutaMouse41-150903
D:/BuzsakiData/SenzaiY/YutaMouse41/YutaMouse41-150903\YutaMouse41-150903.whl

In [3]:
df = pd.read_csv(whl_path, sep='\t', names=names)

In [4]:
df

            x0      y0      x1     y1
0          NaN     NaN     NaN    NaN
1          NaN     NaN     NaN    NaN
2          NaN     NaN     NaN    NaN
3          NaN     NaN     NaN    NaN
4          NaN     NaN     NaN    NaN
...        ...     ...     ...    ...
1576916  362.0  172.00  366.00  192.0
1576917  362.0  171.47  366.53  192.0
1576918  362.0  171.00  367.34  192.0
1576919  362.0  171.13  367.87  192.0
1576920  362.0  171.94  367.06  192.0

[1576921 rows x 4 columns]

In [5]:
df.index = np.arange(len(df)) / fs
df.index.name = 'tt (sec)'

In [6]:
df

               x0      y0      x1     y1
tt (sec)
0.0000        NaN     NaN     NaN    NaN
0.0256        NaN     NaN     NaN    NaN
0.0512        NaN     NaN     NaN    NaN
0.0768        NaN     NaN     NaN    NaN
0.1024        NaN     NaN     NaN    NaN
...           ...     ...     ...    ...
40369.0496  362.0  172.00  366.00  192.0
40369.0752  362.0  171.47  366.53  192.0
40369.1008  362.0  171.00  367.34  192.0
40369.1264  362.0  171.13  367.87  192.0
40369.1520  362.0  171.94  367.06  192.0

[1576921 rows x 4 columns]

In [7]:
TestSeries = SpatialSeries('position_sensor0',
              H5DataIO(df[['x0', 'y0']].values, compression='gzip'),
              'unknown', description='raw sensor data from sensor 0',
              timestamps=H5DataIO(df.index.values, compression='gzip'),
              resolution=np.nan)

In [8]:
TestSeries

position_sensor0 pynwb.behavior.SpatialSeries at 0x3035520675912
Fields:
  comments: no comments
  conversion: 1.0
  data: <hdmf.backends.hdf5.h5_utils.H5DataIO object at 0x000002C2C2339188>
  description: raw sensor data from sensor 0
  interval: 1
  reference_frame: unknown
  resolution: nan
  timestamps: <hdmf.backends.hdf5.h5_utils.H5DataIO object at 0x000002C2C2C2BAC8>
  timestamps_unit: seconds
  unit: meters

In [9]:
TestSeries.timestamps[()]

array([0.00000000e+00, 2.56000000e-02, 5.12000000e-02, ...,
       4.03691008e+04, 4.03691264e+04, 4.03691520e+04])

In [10]:
TestSeries2 = SpatialSeries('position_sensor0',
              H5DataIO(df[[names[0], names[1]]].values, compression='gzip'),
              'unknown', description='raw sensor data from sensor 0',
              rate=fs,
              starting_time = 0.,
              resolution=np.nan)

In [11]:
TestSeries2

position_sensor0 pynwb.behavior.SpatialSeries at 0x3035520677128
Fields:
  comments: no comments
  conversion: 1.0
  data: <hdmf.backends.hdf5.h5_utils.H5DataIO object at 0x000002C2C3212B48>
  description: raw sensor data from sensor 0
  rate: 39.0625
  reference_frame: unknown
  resolution: nan
  starting_time: 0.0
  starting_time_unit: seconds
  unit: meters

In [12]:
TestSeries2.data[()]

array([[   nan,    nan],
       [   nan,    nan],
       [   nan,    nan],
       ...,
       [362.  , 171.  ],
       [362.  , 171.13],
       [362.  , 171.94]])